<!-- Portfolio Grid Section -->
<section id="exec" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Exec Board 2019-2020</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
        {% for sis in site.data.twenty_17.exec %}
            <div class="col-md-4 col-sm-6 sisters-item">
                <img src="../css/2017_style/img/exec/{{ sis.thumbnail }}" class="img-responsive img-centered" alt="">
                <div class="sisters-caption">
                    <h4 class="exec">{{ sis.name }}</h4>
                    <p id="position" class="text-muted">{{ sis.position }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>