<!DOCTYPE html>
<html>
    
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145263823-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-145263823-1');
      </script>
      
      </head>
  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Alpha Omega Epsilon<br></div>
                <div class="intro-heading">Lehigh University</div>
                <div class="intro-lead-in">Beta Lambda Chapter</div>
                
                <!-- <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a> -->
            </div>
        </div>
    </header>

    {% include 2017_data/about.html %}
    {% include 2017_data/exec.html %}
    {% include 2017_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/sister_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
